html,body{
			background-color: #efefef;
			background-image: url('main.svg');
			background-repeat: no-repeat;
			background-position: center center;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-style: normal;
			font-variant: normal;
			color: #71bc4a;
		}
		canvas {
			    padding: 0;
			    margin: auto;
			    display: block;
			    width: 400px;
			    height: 400px;
			    position: relative;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
		}
		h1{ 
				font-weight: 100;
				line-height: 26.4px;
				text-align: center;  
				margin-top:65px;
		}
		#generationCount {
			text-align: center;
			font-weight: 100;
			color: #adadad;
		}